html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    font-family: "Kode Mono", monospace;
    text-align: center;
}
.header{
    width: 100%-32px;
    height: 100%;
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    padding: 0 32px;
}.menu{
    display: flex;
    gap: 8px;
}
.menu ul li{
    display: inline
}
h1{
    font-weight: bold;
}
ul li{
    list-style: none;
}
a{
    text-align: center;
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(107, 107, 12);
}
.contenedor{
    display: flex;
    gap: 24px;
}
.primer{
    display: flex;
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: burlywood;
}
.segundo{
    display: flex;
    border-radius: 8px;
    background-color: burlywood;
}
.cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 8px;
}